<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bb54014cd5.js"></script>
    <title>BCards book</title>
    <%- include navbar_connec %>
  </head>
  <body>
    <div class="container">
      <% if(result.length > 0) {%>
        <div class="row">
          <% for(var i = 0; i < result.length; i++){ %>
            <div class="card col-md-5 text-center" style="margin-left:1%; margin-right: 1%; margin-bottom: 2%;">
              <h1 class="card-header"><%= result[i].last_n + " " + result[i].first_n %></h1>
              <div class="card-body">
                <% if(result[i].enterprise != ""){ %>
                  <h3><i class="fas fa-building"></i><%= "  " + result[i].enterprise %><h3>
                <% } %>
              </div>
              <div class="card_footer">
                <form method="post" action="/showprofile">
                  <div class="form-group">
                    <input type="hidden" name="id_other_user" value="<%= result[i].id %>">
                    <button type="submit" class="btn btn-info justify-content-center">Voir la carte de visite</button>
                  </div>
                </form>
              </div>
            </div>
          <% } %>
        </div>
      <% } else { %>
          <h1 class="text-center">No BCards in the library...</h1>
      <% } %>
    </div>
  </body>
</html>
