<nav class="navbar fixed-top snavbar-light bg-dark">
  <a class="navbar-brand" href="/myprofile" style="color: white">BCM</a>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link mr-sm-3" href="/search_bc" style="color: white"><i class="far fa-address-card"></i></a>
    <a class="nav-link mr-sm-3" href="/bcards_book" style="color: white"><i class="far fa-address-book"></i></a>
    <a class="nav-link mr-sm-4" href="/logout" style="color: white"><i class="fas fa-door-open"></i></a>
  </nav>
</nav>
<br>
<br>
